aiofiles==24.1.0
aioice==0.9.0
aiortc==1.9.0
asgiref==3.8.1
av==12.3.0
blinker==1.8.2
cffi==1.17.1
click==8.1.7
cryptography==43.0.1
dnspython==2.6.1
exceptiongroup==1.2.2
Flask==3.0.3
google-crc32c==1.6.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
Hypercorn==0.17.3
hyperframe==6.0.1
ifaddr==0.2.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.1.1
opencv-python==4.10.0.84
priority==2.0.0
pycparser==2.22
pyee==12.0.0
pylibsrtp==0.10.0
pyOpenSSL==24.2.1
Quart==0.19.6
taskgroup==0.0.0a4
tomli==2.0.1
typing_extensions==4.12.2
uvicorn==0.30.6
Werkzeug==3.0.4
wsproto==1.2.0